# Configuration file

general {

    guioptions {
        # Default Modern Beta world preset. Copy and paste generator string from world presets screen here.
        S:defaultPreset={"chunkSource":"modernbetaforge:beta","biomeSource":"modernbetaforge:beta","surfaceBuilder":"modernbetaforge:beta","caveCarver":"modernbetaforge:beta","worldSpawner":"modernbetaforge:beta","singleBiome":"minecraft:plains","defaultBlock":"minecraft:stone","defaultFluid":"minecraft:water","replaceOceanBiomes":false,"replaceBeachBiomes":false,"replaceRiverBiomes":true,"coordinateScale":684.412,"heightScale":684.412,"lowerLimitScale":512.0,"upperLimitScale":512.0,"scaleNoiseScaleX":1.121,"scaleNoiseScaleZ":1.121,"depthNoiseScaleX":200.0,"depthNoiseScaleZ":200.0,"mainNoiseScaleX":80.0,"mainNoiseScaleY":160.0,"mainNoiseScaleZ":80.0,"baseSize":8.5,"stretchY":12.0,"seaLevel":64,"height":128,"tempNoiseScale":1.0,"rainNoiseScale":1.0,"detailNoiseScale":1.0,"useTerrainCoordFix":false,"snowLineOffset":64,"useClimateFeatures":true,"biomeDepthWeight":1.0,"biomeDepthOffset":0.0,"biomeScaleWeight":1.0,"biomeScaleOffset":0.0,"riverDepthWeight":1.0,"useBiomeDepthScale":false,"useAmplified":false,"biomeSize":4,"riverSize":4,"layerType":"vanilla","layerSize":4,"layerVersion":1700,"snowyBiomeChance":8,"endIslandOffset":100.0,"endIslandWeight":8.0,"endOuterIslandOffset":100.0,"endOuterIslandDistance":64,"useEndOuterIslands":true,"caveWidth":1.0,"caveHeight":128,"caveCount":40,"caveChance":15,"useDungeons":true,"dungeonChance":8,"useStrongholds":false,"useVillages":false,"useVillageVariants":false,"useMineShafts":false,"useTemples":false,"useMonuments":false,"useMansions":false,"useRavines":false,"useUnderwaterCaves":false,"useWaterLakes":true,"waterLakeChance":4,"useLavaLakes":true,"lavaLakeChance":80,"useSandstone":true,"useOldNether":true,"useNetherCaves":true,"useFortresses":false,"useLavaPockets":false,"useInfdevWalls":true,"useInfdevPyramids":true,"levelTheme":"normal","levelType":"island","levelWidth":256,"levelLength":256,"levelHeight":64,"levelHouse":"oak","useIndevCaves":true,"levelCaveWidth":1.0,"oreType":"classic","claySize":32,"clayCount":10,"clayMinHeight":0,"clayMaxHeight":128,"dirtSize":32,"dirtCount":20,"dirtMinHeight":0,"dirtMaxHeight":128,"gravelSize":32,"gravelCount":10,"gravelMinHeight":0,"gravelMaxHeight":128,"graniteSize":32,"graniteCount":0,"graniteMinHeight":0,"graniteMaxHeight":80,"dioriteSize":32,"dioriteCount":0,"dioriteMinHeight":0,"dioriteMaxHeight":80,"andesiteSize":32,"andesiteCount":0,"andesiteMinHeight":0,"andesiteMaxHeight":80,"coalSize":16,"coalCount":20,"coalMinHeight":0,"coalMaxHeight":128,"ironSize":8,"ironCount":20,"ironMinHeight":0,"ironMaxHeight":64,"goldSize":8,"goldCount":2,"goldMinHeight":0,"goldMaxHeight":32,"redstoneSize":7,"redstoneCount":8,"redstoneMinHeight":0,"redstoneMaxHeight":16,"diamondSize":7,"diamondCount":1,"diamondMinHeight":0,"diamondMaxHeight":16,"lapisSize":6,"lapisCount":1,"lapisCenterHeight":16,"lapisSpread":16,"emeraldSize":2,"emeraldCount":0,"emeraldMinHeight":95,"emeraldMaxHeight":128,"quartzSize":14,"quartzCount":0,"magmaSize":33,"magmaCount":0,"useTallGrass":true,"useNewFlowers":false,"useDoublePlants":false,"useLilyPads":false,"useMelons":false,"useDesertWells":false,"useFossils":false,"useSandDisks":false,"useGravelDisks":false,"useClayDisks":false,"useBirchTrees":true,"usePineTrees":true,"useSwampTrees":false,"useJungleTrees":false,"useAcaciaTrees":false,"useNewFancyOakTrees":false,"spawnNewCreatureMobs":false,"spawnNewMonsterMobs":false,"spawnWaterMobs":true,"spawnAmbientMobs":false,"spawnWolves":true,"desertBiomeBase":"modernbetaforge:beta_desert","desertBiomeOcean":"modernbetaforge:beta_ocean","desertBiomeBeach":"modernbetaforge:beta_desert","forestBiomeBase":"modernbetaforge:beta_forest","forestBiomeOcean":"modernbetaforge:beta_ocean","forestBiomeBeach":"modernbetaforge:beta_beach","iceDesertBiomeBase":"modernbetaforge:beta_tundra","iceDesertBiomeOcean":"modernbetaforge:beta_frozen_ocean","iceDesertBiomeBeach":"modernbetaforge:beta_snowy_beach","plainsBiomeBase":"modernbetaforge:beta_plains","plainsBiomeOcean":"modernbetaforge:beta_ocean","plainsBiomeBeach":"modernbetaforge:beta_beach","rainforestBiomeBase":"modernbetaforge:beta_rainforest","rainforestBiomeOcean":"modernbetaforge:beta_ocean","rainforestBiomeBeach":"modernbetaforge:beta_beach","savannaBiomeBase":"modernbetaforge:beta_savanna","savannaBiomeOcean":"modernbetaforge:beta_ocean","savannaBiomeBeach":"modernbetaforge:beta_beach","shrublandBiomeBase":"modernbetaforge:beta_shrubland","shrublandBiomeOcean":"modernbetaforge:beta_ocean","shrublandBiomeBeach":"modernbetaforge:beta_beach","seasonalForestBiomeBase":"modernbetaforge:beta_seasonal_forest","seasonalForestBiomeOcean":"modernbetaforge:beta_ocean","seasonalForestBiomeBeach":"modernbetaforge:beta_beach","swamplandBiomeBase":"modernbetaforge:beta_swampland","swamplandBiomeOcean":"modernbetaforge:beta_ocean","swamplandBiomeBeach":"modernbetaforge:beta_beach","taigaBiomeBase":"modernbetaforge:beta_taiga","taigaBiomeOcean":"modernbetaforge:beta_frozen_ocean","taigaBiomeBeach":"modernbetaforge:beta_snowy_beach","tundraBiomeBase":"modernbetaforge:beta_tundra","tundraBiomeOcean":"modernbetaforge:beta_frozen_ocean","tundraBiomeBeach":"modernbetaforge:beta_snowy_beach"}

        # Default Modern Beta world preset filter.
        # Valid values:
        # ALL
        # BUILTIN
        # ADDON
        # CUSTOM
        S:defaultPresetFilter=ALL

        # Display navigation buttons in the world customization menu.
        B:displayNavButtons=true

        # Display settings confirmation screen in the world customization menu.
        B:displaySettingsConfirmation=true

        # Use customization menus for selecting basic generator settings. Applies to chunk source, biome source, surface builder, and cave carver options.
        B:useMenusForBasicSettings=true

        # Set Modern Beta world type as default.
        B:useModernBetaAsDefault=true
    }

    generatoroptions {
        # Add biomes with custom surface builders for compatibility, requires fully-qualified biome registry name.
        S:biomesWithCustomSurfaces <
         >

        # Max size of chunk cache. Higher values may improve performance at the cost of memory consumption, particularly in heavily-modded worlds. You probably don't need to change this!
        # Min: 16
        # Max: 256
        I:chunkCacheSize=32

        # Save Indev level to separate file and try to load instead of regenerating level.
        B:saveIndevLevels=true
    }

    visualoptions {
        # Modern Beta world cloud height.
        # Min: 0
        # Max: 255
        I:cloudHeight=108

        # Render Beta-accurate biome colors.
        B:useBetaBiomeColors=true

        # Render Beta-accurate sky colors.
        B:useBetaSkyColors=true

        # Override default cloud height.
        B:useCustomCloudHeight=false

        # Render biome colors with increasingly lower temperatures above y128.
        B:useHeightTempGradient=true

        # Render fog with old fog color blending algorithm.
        B:useOldFogColorBlending=true

        # Render old sugar cane colors.
        B:useOldSugarCaneColor=true
    }

    spawnoptions {
        # Use spawn fuzz for players who join the world.
        B:useSpawnFuzz=false
    }

    serveroptions {
        # Send world cloud height to clients.
        B:sendCloudHeight=true

        # Send world information for rendering Beta-accurate biome colors on the client-side. Warning: This will transmit the world seed and generator settings to clients.
        B:sendWorldInfo=false
    }

    debugoptions {
        # Debug block sources.
        B:debugBlockSources=false

        # Debug Indev level saving functionality.
        B:debugIndevLevelSaves=false

        # Display Modern Beta debug info in debug screen.
        B:displayDebugInfo=false

        # Register debug noise chunk source at mod start-up.
        B:registerDebugNoiseChunkSource=false

        # Register debug properties at mod start-up.
        B:registerDebugProperties=false
    }

}


